@charset "utf-8";
/* CSS Document */
html{
	font-size: 62.5%;
}
body{
	margin:0px;
	padding:0px;
	font-size:12px;
	color:#000;
	background:#F8F8F8;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

a, a:visited{
	text-decoration:none;
	color:#333;
}
ul,li{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
#main{
}
#top{
	
}
#bodyWrap{
	width:90%;
	margin:0px auto;
}
#head{
	position:relative;
	height:auto;
	background:rgb(170, 24, 1);
}
.row{
	min-width:800px;
}
#top:after, nav ul:after, .register-process:after{
	content:".";
	display:block;
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
}
nav li:first-child{
	border:none;
}
nav li{
	float:left;
}
nav.login-menu{
	float:right;
}
nav.login-menu a{
	display:inline-block;
	font-size:12px;
	padding:5px 10px;
}
nav.main-menu a{
	display:inline-block;
	padding:12px 20px;
	border-left:solid 1px rgba(0,0,0,0.2);
	color:#fff;
	font-size:14px;
}
nav.main-menu a:hover{
	background:#D55201;
}

#search{
	position:absolute;
	top:8px;
	right:10px;
}
#search .keywords{
	height:18px;
	margin:0px;
}
#search .search-bar{
	margin:0px;
}